@import 'views/styles/shared';

.task-item {
  display: flex;
  outline: none;
  border-bottom: 1px solid #e0e6e9;
  height: 45px;
  overflow: hidden;
  color: #151b28;
  font-weight: 300;
  border-top: 0px solid transparent;
  padding:1px;
  @include media-query(540) {
    font-size: rem(18px);
  }

  &:hover {
    border-top: 1px solid #e0e6e9;
    padding-top: 0;
  }

  .avatar {
    margin: 0 10px; 
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  .warning {
    color: $primary-color;
  }
}
.task-item.is-active{
  border: 1px solid rgba(#bbb, 0.1);
  padding: 0;
}



//=====================================
//  Cells
//-------------------------------------
.cell {
  &:first-child,
  &:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &:first-child {
    padding-right: 10px;
    
  }

  &:nth-child(2) {
    flex: 1;
    padding-right: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}


//=====================================
//  Title (static)
//-------------------------------------
.task-item-title {
  display: inline-block;
  position: relative;
  max-width: 100%;
  line-height: 40px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 2px solid #85bf6b;
    width: 0;
    height: 46%;
    content: '';
  }
}

.label-default {
  margin: 0 3px;
}

.task-item-assignee {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}