@import 'views/styles/shared';


.task-item {
  display: flex;
  outline: none;
  border-bottom: 1px solid #e0e6e9;
  height: 60px;
  overflow: hidden;
  color: #151b28;
  font-size: rem(18px);
  font-weight: 300;
  border-top: 0px solid transparent;

  @include media-query(540) {
    font-size: rem(24px);
  }

  &:hover {
    border-top: 1px solid #e0e6e9;
  }

  // TODO - Should be really selected by the active cell
  &:focus {
    border: 1px solid #bbb;
  }
}



//=====================================
//  Cells
//-------------------------------------
.cell {
  &:first-child,
  &:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &:first-child {
    padding-right: 20px;
    
  }

  &:nth-child(2) {
    flex: 1;
    padding-right: 30px;
    overflow: hidden;
  }
}


//=====================================
//  Title (static)
//-------------------------------------
.task-item-title {
  display: inline-block;
  position: relative;
  max-width: 100%;
  line-height: 60px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 2px solid #85bf6b;
    width: 0;
    height: 46%;
    content: '';
  }
}

.label-default {
  margin: 0 3px;
}

.task-item-assignee {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}