//===================================================================
//  NOTIFICATION
//===================================================================

.notification {
  @include clearfix;
  position: fixed;
  left: 50%;
  top: 60px;
  margin-left: -100px;
  border: 1px solid #aaa;
  padding: 10px 15px;
  width: 200px;
  font-size: rem(16px);
  line-height: 24px;
}

.notification__message {
  float: left;
}

.notification__button {
  @include button-base;
  float: right;
  outline: none;
  border: 0;
  padding: 0;
  font-size: rem(16px);
  line-height: 24px;
  text-transform: uppercase;
  color: #85bf6b;
  background: transparent;
}
