language: node_js

node_js:
  - 4.1

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - npm install -g firebase-tools
  - npm install

script:
  - ./scripts/dist.sh

after_success:
  - ./scripts/deploy.sh

notifications:
  email:
    on_failure: change
    on_success: change
