$base-background-color: rgb(241, 244, 245) !default;
$base-font-color: #151b26 !default;
$base-font-family: 'aktiv-grotesk-std', Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 18px !default;
$base-line-height: 24px !default;
