@import 'views/styles/shared';


.task-list-container {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 10;

  .task-list-header {
    padding: 8px 10px;
    border-bottom: 1px solid #e0e6e8;
  
    .close-bottom {
      padding-bottom: 15px;
    }
    .close-icon {
      color: #ccd1d6;
      
      &:hover {
        color: $primary-color;
      }
    }
    
    .action-button {
      margin: 0 20px;
    }
  
    .avatar-container {
      display: inline-block;
    }
  
    .avatar {
      margin: 0 10px; 
      width: 40px;
      height: 40px;
      border-radius: 40px;
    }
  }
}

.task-list {
  max-height: 27em;
  overflow-y: auto;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  background: white;
}
