//===================================================================
//  FOOTER
//===================================================================

.footer {
  padding-bottom: 90px;
  font-size: rem(16px);

  a {
    color: #999;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}
