@import 'views/styles/shared';


.task-filters {
  @include clearfix;
  padding: 0 60px;
  font-size: rem(16px);
  line-height: 24px;
  display: inline-block;
  width: 100%;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  .react-tagsinput-custom {
    border-radius: 3px;
    overflow: hidden;
    margin-top: -7px;
    padding: 5px 1px 1px 1px;
    width: auto;
    min-width: 200px;
    display: inline-block;
    font-family: '"aktiv-grotesk-std", Helvetica Neue, Arial, sans-serif' !important;
    font-size: 16px !important;
    border: 1px solid #d5dce0;
    padding: 4px 0 0 0;
    
    input {
      font-size: 1.0em;
      font-family: $base-font-family;
      width: 10em;
    }
  
    &:hover {
      border: 1px solid $primary-color;
    }
  }

  li {
    float: right;
    height: 3em;

    &:not(:first-child) {
      margin-right: 7px;
    }

    &:not(:first-child):before {
      padding-right: 7px;
      padding-left: 7px;
      content: ' ';
    }

    @media (min-width: 768px)  {
      &:not(:first-child):before {
        content: '|';
        font-weight: 300;
        padding-right: 14px;
        padding-left: 14px;
      }

      &:last-child:before {
        content: '';
      }
    }
    
    a {
      color: #999;
      text-decoration: none;
      transition: all 0.2s ease;
      padding-bottom: 14px;

      &:hover {
        color: #666;
        padding-bottom: 10px;
        border-bottom: 4px solid #666;
      }
  
      &.active {
        color: $primary-color;
        padding-bottom: 10px;
        border-bottom: 4px solid $primary-color;
      }
    }

  }

  @media only screen and (min-width: 320px)  {
    padding: 1em 1em 0.5em 1em;
  }
}
