@import 'views/styles/shared';


.notification {
  @include clearfix;
  position: fixed;
  left: 50%;
  top: 60px;
  margin-left: -50px;
  border: 1px solid #a5d24a;
  background: #cce69b;
  color: #638421;
  padding: 10px 15px;
  width: auto;
  font-size: rem(16px);
  line-height: 24px;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.notification__message {
  float: left;
}

.notification__button {
  float: right;
  font-size: rem(16px);
  line-height: 24px;
  text-transform: uppercase;
  color: #85bf6b;
}
